<div class="container page page-courses">
  <div class="row search-form">
    <div class="col-sm-10">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-8 search-form-control-wrapper">
            <input class="form-control" placeholder="course name">
          </div>
          <div class="col-sm-4">
            <button class="btn btn-default">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 search-form-add-button-wrapper">
      <a class="btn btn-primary btn-block" [routerLink]="['/courses', 'new']">Add course</a>
    </div>
  </div>
  <div class="alert alert-info" *ngIf="moviesState.moviesAreLoading">
    <p>Courses are being loaded...</p>
  </div>
  <div class="alert alert-warning" *ngIf="moviesState.moviesAreLoaded && moviesState.movies.length === 0">
    <p>Courses are not found.</p>
  </div>
  <div class="alert alert-danger" *ngIf="moviesState.moviesAreNotLoaded">
    <p>Courses are not available at this moment. Please, try again later.</p>
  </div>
  <div class="row course" *ngFor="let movie of moviesState.movies">
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-8">
            <h3 class="h3 course-title">{{ movie.title }} <small>{{ movie.duration | duration }}</small></h3>
        </div>
        <div class="col-sm-4 course-date">
          <p class="h4">{{ movie.create_date | date: 'M/d/yy' }}</p>
        </div>
      </div>
      <p>{{ movie.description }}</p>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-default btn-block" [routerLink]="['/courses', movie.id]">Edit</a>
      <a class="btn btn-warning btn-block">Remove</a>
    </div>
  </div>
</div>