<div class="container page page-course">
  <form [formGroup]="form" (submit)="submitForm(form)">
    <div class="form-group">
      <label for="nameInput">Name:</label>
      <input id="nameInput" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="durationInput">Duration:</label>
      <input id="durationInput" class="form-control" formControlName="duration">
    </div>
    <div class="form-group">
      <label for="createDateInput">Create date:</label>
      <input id="createDateInput" class="form-control" formControlName="createDate">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>
</div>>